# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Data files (avoid committing large datasets)
*.parquet
*.csv
*.json
*.avro

# Logs
*.log
*.parquet
